* {
  padding: 0;
  margin: 0;
}
.bg-container {
  padding: 25px;
  background-size: cover;
  min-width: 400px;
}
@media screen and (min-width: 768px) {
  .bg-container {
    padding: 50px;
  }
}
.upper-container {
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.12);
}
@media screen and (min-width: 768px) {
  .upper-container {
    display: flex;
  }
}
.comments-heading {
  color: #1e293b;
  font-size: 50px;
  font-family: 'roboto';
  padding-top: 10px;
}
.image-container {
  padding: 10px;
  margin-bottom: 10px;
}
.image-container-1 {
  display: none;
}
@media screen and (min-width: 768px) {
  .image-container {
    display: none;
  }
  .image-container-1 {
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
  }
  .comments-image {
    height: 300px;
    width: 300px;
    padding-bottom: 20px;
  }
  .comments-heading {
    margin-bottom: 60px;
  }
}

.comments-image {
  width: 300px;
  margin-top: 15px;
}
.tech-text {
  color: #475569;
  font-family: 'roboto';
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 15px;
}
.form-container {
  display: flex;
  flex-direction: column;
  width: 340px;
}
.input {
  height: 40px;
  border: 1px solid #cbd2d9;
  margin-bottom: 10px;
  border-radius: 5px;
  padding-left: 15px;
  font-size: 18px;
  outline: burlywood;
}
.comment {
  border: 1px solid #cbd2d9;
  border-radius: 5px;
  font-size: 18px;
  padding-top: 10px;
  padding-left: 10px;
}
.add-comment-button {
  background-color: #0284c7;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  width: 150px;
  height: 40px;
  margin: 10px 0px;
  font-weight: 500;
  cursor: pointer;
  margin-top: 20px;
}
.comments-count {
  display: flex;
  align-items: center;
  color: #475569;
  font-size: 16px;
  font-weight: bold;
  font-family: 'roboto';
  margin-bottom: 25px;
  margin-left: 10px;
  margin-top: 18px;
}
.count {
  background-color: #0284c7;
  height: 25px;
  width: 25px;
  color: #ffffff;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 5px;
}
.initial-container {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
ul {
  list-style-type: none;
  border: none;
}
