.amber {
  background-color: #f59e0b;
}

.blue {
  background-color: #0b69ff;
}

.orange {
  background-color: #f97316;
}

.emerald {
  background-color: #10b981;
}

.teal {
  background-color: #14b8a6;
}

.red {
  background-color: #b91c1c;
}

.light-blue {
  background-color: #0ea5e9;
}

/* Write your CSS here */
.comment {
  display: flex;
  min-height: 100px;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.12);
  border: 0px;
}
.cont-1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100%;
}
.username-time-container {
  display: flex;
  align-items: center;
}
.initial-name {
  font-size: 24px;
  color: #ffffff;
  font-family: 'roboto';
  font-weight: 500;
}
.username {
  color: #334155;
  font-weight: 600;
  font-family: 'roboto';
  font-size: 16px;
  margin-right: 15px;
}
.time {
  color: #94a3b8;
  font-size: 13px;
  font-family: 'roboto';
}
.comment-text {
  font-family: 'roboto';
  font-size: 14px;
  color: #64748b;
  margin-top: 18px;
  margin-bottom: 18px;
  font-weight: 500;
}

.like-icon {
  height: 24px;
  padding-bottom: 5px;
}
.like-icon-button {
  border: none;
  background-color: transparent;
}
.cont-2 {
  flex-grow: 1;
  min-height: 100px;

  padding: 10px;
}
.like-delete-container {
  align-self: flex-end;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.like-text {
  color: #7e858e;
  font-family: 'roboto';
  font-size: 16px;
  font-weight: 500;
}
.liked-text-color {
  color: #0ea5e9;
}
